<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QponEditor.Properties.Settings.intermediate_qponcrush_dbConnectionString"
            connectionString="Data Source=oud11hbwrc.database.windows.net;Initial Catalog=intermediate-qponcrush_db;User ID=saviobernard;Password=QponCrush15;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
        <add name="QponEditor.Properties.Settings.QponCrushConnectionString"
            connectionString="Data Source=njk8bedrfs.database.windows.net;Initial Catalog=QponQrushb22;Persist Security Info=True;User ID=qpon@njk8bedrfs;Password=crushin01$"
            providerName="System.Data.SqlClient" />
        <add name="QponEditor.Properties.Settings.QponQrushb22ConnectionString"
            connectionString="Data Source=njk8bedrfs.database.windows.net;Initial Catalog=QponQrushb22;User ID=qpon;Password=crushin01$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>